body {
    background-color: black;
	margin: 10px auto;
	color: white;
	width: 700px;
	font-family: Georgia, serif;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

div.topbox {
    background-color: 	#D0D0D0  ;
	color: black;
  	text-align: left;
    padding: 10px 20px 10px 20px;
}

div.contentbox {
    background-color: 	#D0D0D0  ;
	color: black;
  	text-align: left;
    padding: 1px 20px 10px 20px;
}
p {
    text-align: justify;
    margin-bottom: 0;
}

div.photobox {
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

div.contactinfo {
    vertical-align: middle;
    text-align: center;
    height: 250px;
}

img {
    padding: 0px;
    margin: 0px;
}

div.photo_attribution {
    font-size: 8pt;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom:12px;
}

h1 {
	margin-top:0px;
	margin-bottom: 0px;
}

h2 {
	margin-bottom: 12px;
	margin-top: 12px;
}

h2.homePageHeadings {
    margin-top: 20px;
}

h3 {
    margin-bottom: 4px;
}
h3.titleInfo {
    margin: 0;
}

h5 {
    margin-bottom: 0px;
    margin-top: 0px;
}

ul {
	margin: 0px;
}

img {
	margin-bottom: 12px;
}

dl {
	margin-top: 0;
	margin-bottom: 0;
}

table {
	border-width: 2px 2px 2px 2px;
	border-spacing: 4px;
	border-style: double double double double;
	border-color: black black black black;
	border-collapse: separate;
	background-color: white;
	width: 100%;
}
table th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: groove groove groove groove;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 3px 3px 3px 3px;
}
table td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: groove groove groove groove;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 3px 3px 3px 3px;
}

dd {
    padding-bottom: 10px;
}

dd ul {
    margin: 4px 0 0 -24px;
    padding: 0px;
}
